html, body, div,p, form {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

button {
	position: relative;
	box-shadow: 4px 4px #333;
    padding: 4px 8px 4px 8px;
}

button:active {
	top:2px;
	left: 2px;
	box-shadow: none;
}

html {
    background-color: black;
}

div.daftar-page {
    background-color: #b0b0b0;
    height: 100%;
}

div.daftar-page div.header,
div.edit-file div.header {
    display: flex;
    padding: 8px;
    background-color: #c0c0c0;
    box-shadow: 0px 4px #000;
}

div.daftar-page div.header div.judul,
div.edit-file div.header div.judul {
    padding: 8px;
    flex-grow: 1;
}

div.item {
    padding: 8px;
    border-bottom: 1px solid #333;
    /* color: white; */
}

div.edit-file {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.edit-file div.cont  {
    padding: 8px;
    flex-grow: 1;
}

div.edit-file form {
    /* margin: 16px; */
    background-color: #c0c0c0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.edit-file form input {
    margin-bottom: 8px;
    width: 100%;
}

div.edit-file form textarea {
    margin-bottom: 8px;
    width: 100%;
    flex-grow: 1;
}


