html, body, div {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	color: white;
}

body {
	background-color: black;
	height: 100%;
}

div.kolom {
	display: flex;
}

div.fill-width {
	flex-grow: 1;
}

div.pohon div.desk, div.pohon div.anggota {
	margin-left: 16px;
}

div.pohon div.desk {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	border: 1px solid #c0c0c0;
	width: fit-content;
	padding: 8px;
	margin: 4px;
}

div.pohon div.desk button {
	margin-left:16px;
}

div.pohon.sembunyi div.anggota {
	display: none;
}

div.menu.back, div.menu2.back {
	position: fixed;
	top:0px;
	left:0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0, 0, 0, .5);
	display: none;
}

div.menu button, div.menu2 button {
	display: block;
	width: 100px;
	margin:auto;
	margin-bottom: 8px;
}

div.menu div.menu-box, div.menu2 div.menu-box {
	background-color: #c0c0c0;
	border: 1px solid;
	padding: 8px;
	max-width: 100vh;
	margin: auto;
	text-align: center;
	margin-top: 32px;
}