div.hal-depan {
	display: flex;
}

div.hal-depan 
div.daftar-cont {
	flex-grow: 1;
}

div.hal-depan
div.daftar-tbl 
button {
	display: block;
	min-width: 120px;
	margin-bottom: 8px;
}

div.tree {
	cursor: pointer;
}

div.tree 
div.cont {
	margin-left: 8px;
}

div.tree p.nama {
	margin-bottom: 0px;
}

div.tree p.nama.dipilih {
	border: 1px solid;
}