html, body, div,p {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 200%;
    position: relative;
    touch-action: none;
    position: relative;
}

p.p {
    position: absolute;
}