html,
body, div {
	box-sizing: border-box;
}

body {
	padding: 8px;
	max-width: 640px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	margin: auto;
}

body >
div.cont {
	position: relative;
	height: 100%;
	padding: 8px;
}

button.selesai {
	display: block;
}

button.putih {
    border-radius: 10px;
    background-color: white;
    border-color: #333333;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
    color: #333333;
    border: 1px solid #333;
	box-shadow: 0px 2px 0px 0px #333333;
	font-size: large;
	margin: auto;
	margin-bottom: 16px;
	position: relative;
	top:0px;
}

button.putih:hover {
	background-color:  #666666;
	color: white;
}

button.putih:active {
	top:3px;
	box-shadow: none;
}

button.normal {
    background-color: rgb(25, 182, 25);
    border-color: darkgreen;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
    color: white;
    border: 1px solid green;
	box-shadow: 3px 3px 0px 0px black;
	font-size: large;
	margin: auto;
	margin-bottom: 16px;
	position: relative;
	top:0px;
}

button.normal:hover {
    background-color: darkgreen;
}

button.normal:active {
	top:3px;
	left: 3px;
	box-shadow: none;
}

div.cont p.judul-soal {
	font-size: x-large;
	text-align: center;
	font-weight: bold;
}

div.kirim-cont {
	margin-top: 16px;
	text-align: center;
}
