html, body, div, canvas {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	background-color: black;
	overflow-y: hidden;
	overflow-x: hidden;
}

canvas {
	background-color: white;
	margin: auto;
	position: absolute;
}