div.form-edit {
	/* position: fixed; */
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,.7);
}

div.form-edit
p {
	margin-top: 4px;
	margin-bottom: 4px;
}

/* div.form-edit 
input,
div.form-edit 
textarea 
{
	margin-top:0px;
	margin-bottom: 16px;
} */

div.form-edit
div.cont {
	margin-top:64px;
	margin-left:auto;
	margin-right: auto;
	background-color: white;
	width: 50%;
	min-width: 300px;
	padding:8px;
}