div.lap-bulanan {

}

div.lap-bulanan
.baris-bulanan {
    border: 1px solid;
    padding: 4px;
}

div.lap-bulanan
.journal-row-view {
    border: 1px solid;
    margin-bottom: 4px;
    padding: 4px;
}

div.lap-bulanan
p.jumlah {
    text-align: right;
}

div.lap-bulanan
p.total {
    text-align: right;
}