@font-face {
	font-family: 'verint_lux';
	src:  url('./fonts/verint_lux.eot?dvvpbe');
	src:  url('./fonts/verint_lux.eot?dvvpbe#iefix') format('embedded-opentype'),
	  url('./fonts/verint_lux.ttf?dvvpbe') format('truetype'),
	  url('./fonts/verint_lux.woff?dvvpbe') format('woff'),
	  url('./fonts/verint_lux.svg?dvvpbe#verint_lux') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

html {
	min-height: 100%;
}

html, body, div, header {
	box-sizing: border-box;
	padding: 0px;
	font-family: sans-serif;
}

/* icon management */
div.close {
    text-align:right;    
}

.symbol {
	font-family: "verint_lux";
}

div.daftar-icon div.item.menu {
	margin-bottom: 8px;
	display: flex;
	padding-bottom:4px;
	border-bottom:1px solid #eee;
}

div.pilih-icon {
	position: fixed;
	background-color: rgba(0,0,0,.5);
	top:0px;
	left:0px;
	bottom: 0px;
	right: 0px;
}

div.pilih-icon div.box {
	margin: auto;
	margin-top: 32px;
	margin-left: 24px;
	margin-right: 24px;
	/* overflow-y: auto; */
	background-color: rgba(0,0,0,.5);
	background-color: white;
	max-height: 90%;
	display: flex;
	flex-direction: column;
	padding:16px;
	text-align:center;
}

button.tambah {
	position: fixed;
	bottom:32px;
	right:32px;
	border-radius:55%;
	padding:16px;
	padding-left:24px;
	padding-right:24px;
	font-size:large;
	font-weight: bold;
	border:none;
	background-color:brown;
}

div.item.menu span.menu {
	flex-grow:1;
	vertical-align: middle;
	padding-top: 12px;
	margin-left: 12px;
}

div.item.menu span.symbol {
	font-size:xx-large;
	vertical-align:middle;
}


div.edit-icon,
div.baru {
	position:fixed;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	background-color:rgba(0,0,0,.5);
}

div.edit-icon 
div.box,
div.baru div.box {
	margin:32px;
	background-color:white;
	padding:16px;
}

div.edit-icon
span.symbol,
div.baru span.symbol {
	font-size:xxx-large;
	vertical-align:bottom;
}

div.edit-icon
button.browse,
div.baru button.browse {
	margin-bottom:16px;
	margin-left: 16px;
}


div.pilih-icon
div.button-cont {
	padding-left:16px;
	padding-right:16px;
	overflow-y:auto;
	text-align:center;
	padding-bottom:16px;
}

div.pilih-icon
div.button-cont 
button {
	padding-left:8px;
	padding-right:8px;
	overflow-y:auto;
	font-size:xx-large
}