/* dialog */
div.dialog {
	position: fixed;
	box-sizing: border-box;
	top:0px;
	left:0px;
	bottom: 0px;
	right: 0px;;
	background-color: rgba(0, 0, 0, .1);
	z-index: 1000;
	display:none;
}

div.dialog div.box {
	display: flex;
	flex-direction: column;
	padding: 16px;
	width: 100%;
	min-height: 200px;
	background-color: white;
	text-align: center;
}

div.dialog div.box p {
	flex-grow: 1;
}

/* loading */
div.loading {
	display: flex;
	position: fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, .1);
	z-index: 100;
	text-align: center;
}

div.loading div.box {
	width: 80%;
	margin: auto;
	text-align: center;
}

div.clear {
	float: none;
	clear: both;
}

div.flex {
	display: flex;
}

div.grow {
	flex-grow: 1;
}

.tengah {
	text-align: center;
}

div.rata-kanan {
	text-align: right;
}