html, body, div {
	box-sizing: border-box;
	padding: 0px;
	font-family: sans-serif;
}

div.kalkulator {
	width: 100%;
	padding: 8px;
	max-width: 320px;
	margin: auto;
	border: 1px solid;
}

p.kotak-angka {
	border: 1px solid;
	padding: 8px;
	text-align: right;
	font-family: monospace;
}

button {
	float: left;
	width: calc(25% - 6px);
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 3px;
	margin-right: 3px;
	padding-top: 6px;
	padding-bottom: 6px;
}

div.clear {
	float: none;
	clear: both;
}
