* {
    font-family: Consolas, 'Courier New', Courier, monospace;
    box-sizing: border-box;
    font-size: 24px;
}

.container {
    margin: auto;
    max-width: 960px;
    text-align: center;
    /* height: 920px; */
}

.container .soal-cont {
    /* display: flex;
    flex-wrap: wrap; */
    font-stretch: ultra-expanded;
}

@media print {
    .ganti_hal {
        page-break-after: always;
    }
}
