/*
    480     s
    640     m
    960     l
    1280    xl
*/

/* For mobile phones: */
/* [class*="col-"] {
    width: 100%;
} */

.pos-rel {position: relative}
.pos-abs {position: absolute}

.disp-block {display: block}
.disp-none {display: none}

.top-0 {top:0px}
.left-0 {left:0px}
.right-0 {right: 0px}

.text-align-center {text-align: center}
.text-align-right {text-align: right}
.text-align-left {text-align: left}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

*, .row::after, .row::before, col {
    box-sizing: border-box;
}

.col-0 {width: 0px}
.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}

/* small */
@media only screen and (min-width: 480px) {
    .col-s-1 {width: 8.33%}
    .col-s-2 {width: 16.66%}
    .col-s-3 {width: 25%}
    .col-s-4 {width: 33.33%}
    .col-s-5 {width: 41.66%}
    .col-s-6 {width: 50%}
    .col-s-7 {width: 58.33%}
    .col-s-8 {width: 66.66%}
    .col-s-9 {width: 75%}
    .col-s-10 {width: 83.33%}
    .col-s-11 {width: 91.66%}
    .col-s-12 {width: 100%}

    .disp-s-none {display:none}    
}

/* middle */
@media only screen and (min-width: 640px) {
    .col-m-1 {width: 8.33%}
    .col-m-2 {width: 16.66%}
    .col-m-3 {width: 25%}
    .col-m-4 {width: 33.33%}
    .col-m-5 {width: 41.66%}
    .col-m-6 {width: 50%}
    .col-m-7 {width: 58.33%}
    .col-m-8 {width: 66.66%}
    .col-m-9 {width: 75%}
    .col-m-10 {width: 83.33%}
    .col-m-11 {width: 91.66%}
    .col-m-12 {width: 100%}


}

/* large */
@media only screen and (min-width: 960px) {
    .col-l-1 {width: 8.33%}
    .col-l-2 {width: 16.66%}
    .col-l-3 {width: 25%}
    .col-l-4 {width: 33.33%}
    .col-l-5 {width: 41.66%}
    .col-l-6 {width: 50%}
    .col-l-7 {width: 58.33%}
    .col-l-8 {width: 66.66%}
    .col-l-9 {width: 75%}
    .col-l-10 {width: 83.33%}
    .col-l-11 {width: 91.66%}
    .col-l-12 {width: 100%}

    .pos-l-static {position: static}
}  

/* x-large */
@media only screen and (min-width: 1280px) {
    .col-xl-1 {width: 8.33%}
    .col-xl-2 {width: 16.66%}
    .col-xl-3 {width: 25%}
    .col-xl-4 {width: 33.33%}
    .col-xl-5 {width: 41.66%}
    .col-xl-6 {width: 50%}
    .col-xl-7 {width: 58.33%}
    .col-xl-8 {width: 66.66%}
    .col-xl-9 {width: 75%}
    .col-xl-10 {width: 83.33%}
    .col-xl-11 {width: 91.66%}
    .col-xl-12 {width: 100%}

    .disp-xl-block {display:block}
    .disp-xl-none {display: none}    
}
