html {
	background-image: url(../gbr/back.png);
	background-repeat: repeat;
}

body {
	background-color: transparent;
	width: 100%;
	min-height: 100%;
	display: table;
	color: #c0c0c0;
	/* background-color: rgba(0,0,0,.5); */
}

button {
	padding:4px 8px 4px 8px;
}

div.edit-profile {
	position: fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom: 0px;
	padding: 16px;
	background-color: rgba(0, 0, 0, .5);
}

div.edit-profile div.kotak {
	background-color: white;
	padding: 8px;
	margin:auto;
	display: block;
	width: 300px;
}

div.edit-profile div.kotak div.tutup {
	text-align: right;
}

html,
body,
div,
button {
	box-sizing: border-box;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}


div.kotak {
	visibility: visible;
	display: table-cell;
}


div.kotak div.hubung.table {
	height: 32px;
}

div.kotak div.cont-pasangan {
	display: table;
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
}

div.kotak div.cont-pasangan div.suami.normal,
div.kotak div.cont-pasangan div.istri.normal {
	visibility: visible;
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}

div.kotak div.cont-pasangan div.istri.sembunyi {
	visibility: visible;
	display: none;
	vertical-align: middle;
	width: 50%;
}

div.kotak div.cont-pasangan div.suami.sembunyi {
	text-align: center;
}



div.kotak div.cont-pasangan div.suami.normal {
	text-align: right;
	padding-right: 8px;
}

div.kotak div.cont-pasangan div.istri {
	visibility: visible;
	padding-left: 8px;
	text-align: left;
}


div.kotak div.cont-pasangan div.tambah {
	border: 1px solid;
	text-align: center;
	height: 100%;
	display: table;
	padding-top: 16px;
	padding-bottom: 16px;
}

div.kotak div.cont-pasangan div.info {
	text-align: center;
}


div.kotak div.cont-pasangan div.info img {
	width: 32px;
	height: 32px;
}

div.kotak div.anak {
	display: table;
	text-align: center;
	width: 100%;
}

div.kotak div.anak div.tambah-anak {
	margin: auto;
	width: 100%;
	display: table-cell;
}

div.kotak div.hubung {
	display: flex;
	align-content: stretch;
}

div.kotak div.hubung div.kiri,
div.kotak div.hubung div.kanan {
	height: 32px;
	width: 50%;
}

div.foto {
	border: none;
	background-color: #0000c0;
}

div.nama {
	/* border: 1px solid; */
	/* padding: 8px; */
	padding: 4px 8px 4px 8px;
	text-align: center;
	cursor: pointer;
	color: white;
}

div.menu-popup {
	/* padding: 8px; */
	display: none;
	vertical-align: top;
}

div.menu-popup {
	top: 0px;
	left: 0px;
	border: 1px solid;
	background-color: white;
	z-index: 1000;
}

div.menu.pilih {
	padding: 8px;
	display: 'table-cell' !important;
}

div.menu button {
	width: 100%;
}


div.cell {
	/* display: table-cell; */
	/* border: 1px solid; */
	/* visibility: visible; */
	flex-grow: 1;
}

.block {
	display: block;
}

div.table {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

div.padding {
	padding: 4px 8px 4px 8px;
}

div.nowrap {
	white-space: nowrap;
}

div.inline {
	display: inline-block;
}

div.relative {
	position: relative;
}

div.absolute {
	position: absolute;
}

div.rata-kiri {
	text-align: left;
}

div.rata-kanan {
	text-align: right;
}

div.border {
	border: 1px solid;
}

div.border-kanan {
	border-right: 1px solid;
}

div.border-atas {
	border-top: 1px solid;
}

div.border-bawah {
	border-bottom: 1px solid;
}

div.border-kiri {
	border-left: 1px solid;
}