/*
    480     s
    640     m
    960     l
    1280    xl
*/



@media only screen and (min-width: 480px) {
    .disp-s-none {display:none}
}

@media only screen and (min-width: 640px) {
	
}

@media only screen and (min-width: 960px) {
    .pos-l-static {position: static}
}

@media only screen and (min-width: 1280px) {
    .disp-xl-block {display:block}
    .disp-xl-none {display: none}
}
