html, body, div {
	box-sizing: border-box;
}

div.anggota-cont {
	margin: auto;
}

div.anggota-cont div.atas,
div.anggota-cont div.bawah {
	display: table;
	margin: auto;
}

div.anggota-cont div.bawah.sembunyi {
	display: none;
}

div.anggota-cont div.bawah div.cont-anak {
	display: table-cell;
}

div.anggota-cont div.atas div.foto {
	display: table-cell;
	text-align: center;
	padding: 8px;
}

div.anggota-cont div.atas div.foto.sembunyi {
	display: none;
}


div.daftar-anggota div.item.pilih,
div.daftar-foto div.item.pilih,
div.daftar-info div.item.pilih,
div.daftar-relasi div.item.pilih {
	border: 1px solid;
}