@font-face {
  font-family: 'verint_lux';
  src:  url('fonts/verint_lux.eot?dvvpbe');
  src:  url('fonts/verint_lux.eot?dvvpbe#iefix') format('embedded-opentype'),
    url('fonts/verint_lux.ttf?dvvpbe') format('truetype'),
    url('fonts/verint_lux.woff?dvvpbe') format('woff'),
    url('fonts/verint_lux.svg?dvvpbe#verint_lux') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'verint_lux' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Knowledge:before {
  content: "\ea4e";
}
.icon-Manage-Tagsets:before {
  content: "\ea49";
}
.icon-Manage-Tagsets-Relationship:before {
  content: "\ea4a";
}
.icon-Tagset-Report:before {
  content: "\ea4b";
}
.icon-Machine-Learning:before {
  content: "\ea4c";
}
.icon-Rule:before {
  content: "\ea4d";
}
.icon-PPT-file:before {
  content: "\ea47";
}
.icon-Word-file:before {
  content: "\ea48";
}
.icon-Case-Notes-Reference-1:before {
  content: "\ea1f";
}
.icon-Case-Details:before {
  content: "\ea3d";
}
.icon-Related-Cases:before {
  content: "\ea46";
}
.icon-No-Notifications:before {
  content: "\ea16";
}
.icon-chat-circle:before {
  content: "\ea17";
}
.icon-Desktop-circle:before {
  content: "\ea18";
}
.icon-facetoface-circle:before {
  content: "\ea19";
}
.icon-feedback-circle:before {
  content: "\ea1a";
}
.icon-intercom-circle:before {
  content: "\ea1b";
}
.icon-radiocall-circle:before {
  content: "\ea1c";
}
.icon-radiosms-circle:before {
  content: "\ea1d";
}
.icon-Virtualcall-circle:before {
  content: "\ea1e";
}
.icon-Mouse-Meters:before {
  content: "\ea0c";
}
.icon-Team-Allocated-Hours:before {
  content: "\ea0d";
}
.icon-Cases-Completed:before {
  content: "\ea0e";
}
.icon-Skill:before {
  content: "\ea0f";
}
.icon-Quality:before {
  content: "\ea10";
}
.icon-Task-Service-Standard:before {
  content: "\ea11";
}
.icon-Individual-Performance:before {
  content: "\ea12";
}
.icon-Show-score:before {
  content: "\ea13";
}
.icon-Hide-Score:before {
  content: "\ea14";
}
.icon-Stage:before {
  content: "\ea15";
}
.icon-Employee-Focus:before {
  content: "\ea0b";
}
.icon-External-File:before {
  content: "\ea07";
}
.icon-Folder-Add:before {
  content: "\ea08";
}
.icon-Regular-Section:before {
  content: "\ea09";
}
.icon-Recommended-Section:before {
  content: "\ea0a";
}
.icon-Status-Staged:before {
  content: "\ea05";
}
.icon-Status-Hidden:before {
  content: "\ea06";
}
.icon-Decision-Tree-Node:before {
  content: "\ea02";
}
.icon-Decision-Tree:before {
  content: "\ea03";
}
.icon-Tab:before {
  content: "\ea04";
}
.icon-Rename:before {
  content: "\e9fe";
}
.icon-Save-Revision:before {
  content: "\e9ff";
}
.icon-Issues:before {
  content: "\ea00";
}
.icon-Section:before {
  content: "\ea01";
}
.icon-Case-Add-to:before {
  content: "\e9f7";
}
.icon-Case-Duplicate-to:before {
  content: "\e9f8";
}
.icon-Legal-Hold-Remove:before {
  content: "\e9f9";
}
.icon-Legal-Hold:before {
  content: "\e9fa";
}
.icon-Suspect:before {
  content: "\e9fb";
}
.icon-Voice-Print-Add:before {
  content: "\e9fc";
}
.icon-Voice-Print:before {
  content: "\e9fd";
}
.icon-Draft-Status:before {
  content: "\e9eb";
}
.icon-Archive-Status:before {
  content: "\e9ec";
}
.icon-Publish-Status:before {
  content: "\e9ed";
}
.icon-Review-Status:before {
  content: "\e9ee";
}
.icon-Escalation:before {
  content: "\e9ef";
}
.icon-Complaint:before {
  content: "\e9f0";
}
.icon-Overtalk-Interaction:before {
  content: "\e9f1";
}
.icon-Positive-Interaction:before {
  content: "\e9f2";
}
.icon-Call-Inbound:before {
  content: "\e9f3";
}
.icon-Call-Internal:before {
  content: "\e9f4";
}
.icon-Call-Outbound:before {
  content: "\e9f5";
}
.icon-Call-Unknown:before {
  content: "\e9f6";
}
.icon-Partial-Recurrence:before {
  content: "\e9e5";
}
.icon-Partial-Attendees:before {
  content: "\e9e6";
}
.icon-Partial-Paid:before {
  content: "\e9e7";
}
.icon-Partial-Lock:before {
  content: "\e9e8";
}
.icon-Partial-Over-Time:before {
  content: "\e9e9";
}
.icon-Partial-Over-Night:before {
  content: "\e9ea";
}
.icon-additional-data:before {
  content: "\e9e3";
}
.icon-gantt-chart:before {
  content: "\e9e4";
}
.icon-Library:before {
  content: "\e9dc";
}
.icon-Dislike-Unselected:before {
  content: "\e9dd";
}
.icon-Dislike:before {
  content: "\e9de";
}
.icon-Like-Unselected:before {
  content: "\e9df";
}
.icon-Like:before {
  content: "\e9e0";
}
.icon-Bookmark-Unselected:before {
  content: "\e9e1";
}
.icon-Bookmark:before {
  content: "\e9e2";
}
.icon-Message-Status-Success:before {
  content: "\e9db";
}
.icon-Popup-Close:before {
  content: "\e9d9";
}
.icon-Popup-Help:before {
  content: "\e9da";
}
.icon-Recent:before {
  content: "\e9d5";
}
.icon-No-Result:before {
  content: "\e9d6";
}
.icon-Popular:before {
  content: "\e9d7";
}
.icon-Search-Result:before {
  content: "\e9d8";
}
.icon-Help-Menu:before {
  content: "\e9d4";
}
.icon-Platform:before {
  content: "\e9d2";
}
.icon-combined-Intraction:before {
  content: "\e9d3";
}
.icon-Screen-Recorded:before {
  content: "\e9d1";
}
.icon-Mask:before {
  content: "\e9d0";
}
.icon-First:before {
  content: "\e9cc";
}
.icon-Highlighte-remove:before {
  content: "\e9cd";
}
.icon-Highlighter:before {
  content: "\e9ce";
}
.icon-Last:before {
  content: "\e9cf";
}
.icon-Screen-Media:before {
  content: "\e9ca";
}
.icon-Unknown-Media:before {
  content: "\e9cb";
}
.icon-Delete:before {
  content: "\e9c9";
}
.icon-Fill-Frame:before {
  content: "\e9c5";
}
.icon-Fit-to-Frame:before {
  content: "\e9c6";
}
.icon-Missing-Screen:before {
  content: "\e9c7";
}
.icon-Mute:before {
  content: "\e9c8";
}
.icon-Avatar:before {
  content: "\e9c1";
}
.icon-No-Video:before {
  content: "\e9c2";
}
.icon-Open-in-new-window:before {
  content: "\e9c3";
}
.icon-Share-Screen:before {
  content: "\e9c4";
}
.icon-Constraints:before {
  content: "\e9bc";
}
.icon-Flag-Multi:before {
  content: "\e9bd";
}
.icon-Flag-empty:before {
  content: "\e9be";
}
.icon-Working-from-office:before {
  content: "\e9bf";
}
.icon-Working-from-home:before {
  content: "\e9c0";
}
.icon-Validation-Warning:before {
  content: "\e9ba";
}
.icon-Validation-error:before {
  content: "\e9bb";
}
.icon-Templates:before {
  content: "\e908";
}
.icon-Export-CSV:before {
  content: "\e909";
}
.icon-Export-List:before {
  content: "\e90a";
}
.icon-Find-Again:before {
  content: "\e90b";
}
.icon-History-Edit:before {
  content: "\e912";
}
.icon-Move-to-Inbox:before {
  content: "\e932";
}
.icon-Read-Receipt:before {
  content: "\e933";
}
.icon-Security:before {
  content: "\e935";
}
.icon-Bounced-Message:before {
  content: "\e936";
}
.icon-Pending-Collaboration:before {
  content: "\e937";
}
.icon-Pending-Forward-Track:before {
  content: "\e938";
}
.icon-Pending-Rule:before {
  content: "\e948";
}
.icon-Pending-Send:before {
  content: "\e949";
}
.icon-Transcript-Message:before {
  content: "\e94a";
}
.icon-Transcript-Message-Complete:before {
  content: "\e94b";
}
.icon-Transcript-Message-New:before {
  content: "\e94f";
}
.icon-Transcript-Message-No-Answer:before {
  content: "\e951";
}
.icon-Chat-Message-Complete:before {
  content: "\e967";
}
.icon-Chat-Message-New:before {
  content: "\e973";
}
.icon-Chat-Message-No-Answer:before {
  content: "\e97e";
}
.icon-Chat-Message:before {
  content: "\e982";
}
.icon-Phone-Message-Complete:before {
  content: "\e989";
}
.icon-Phone-Message-New:before {
  content: "\e98a";
}
.icon-Phone-Message-No-Answer:before {
  content: "\e98b";
}
.icon-Phone-Message:before {
  content: "\e98c";
}
.icon-Collaboration-Message-Broken:before {
  content: "\e98d";
}
.icon-Collaboration-Message-Complete:before {
  content: "\e98e";
}
.icon-Collaboration-Message-Pending:before {
  content: "\e98f";
}
.icon-Collaboration-Message:before {
  content: "\e990";
}
.icon-Email-Follow-Up-Complete:before {
  content: "\e991";
}
.icon-Email-Follow-Up-New:before {
  content: "\e992";
}
.icon-Email-Follow-Up-No-Answer:before {
  content: "\e993";
}
.icon-Email-Follow-Up:before {
  content: "\e994";
}
.icon-Campaign-Message-Complete:before {
  content: "\e995";
}
.icon-Campaign-Message:before {
  content: "\e996";
}
.icon-Originated-Email-Complete:before {
  content: "\e997";
}
.icon-Originated-Email-New:before {
  content: "\e998";
}
.icon-Originated-Email-No-Answer:before {
  content: "\e999";
}
.icon-Originated-Email:before {
  content: "\e99a";
}
.icon-Email-New:before {
  content: "\e99b";
}
.icon-Email-Complete:before {
  content: "\e99c";
}
.icon-Email-No-Answer:before {
  content: "\e99d";
}
.icon-Form-Message-Completed:before {
  content: "\e99e";
}
.icon-Form-Message-New:before {
  content: "\e99f";
}
.icon-Form-Message-No-Answer:before {
  content: "\e9a0";
}
.icon-Form-Message:before {
  content: "\e9a1";
}
.icon-Clear-Message:before {
  content: "\e9a2";
}
.icon-File-Recreate:before {
  content: "\e9a3";
}
.icon-HTML-Editor:before {
  content: "\e9a4";
}
.icon-Merge-Field-Add:before {
  content: "\e9a5";
}
.icon-Text-Editor:before {
  content: "\e9a6";
}
.icon-Visualize-Layout:before {
  content: "\e9a7";
}
.icon-Open-Browse:before {
  content: "\e9a8";
}
.icon-Redo:before {
  content: "\e9a9";
}
.icon-Spell-check:before {
  content: "\e9aa";
}
.icon-Address:before {
  content: "\e9ab";
}
.icon-Recipients:before {
  content: "\e9ac";
}
.icon-Note-clear:before {
  content: "\e9ad";
}
.icon-Note-Add:before {
  content: "\e9ae";
}
.icon-Note-Save:before {
  content: "\e9af";
}
.icon-Browser:before {
  content: "\e9b0";
}
.icon-Edit-fields:before {
  content: "\e9b1";
}
.icon-Customize:before {
  content: "\e9b2";
}
.icon-Help:before {
  content: "\e9b3";
}
.icon-Send-Mail:before {
  content: "\e9b4";
}
.icon-Route-Mail:before {
  content: "\e9b5";
}
.icon-Mail-No-Answer:before {
  content: "\e9b6";
}
.icon-Client-History:before {
  content: "\e9b7";
}
.icon-Get-more-mail:before {
  content: "\e9b8";
}
.icon-Show-details:before {
  content: "\e904";
}
.icon-Default-view:before {
  content: "\e905";
}
.icon-Expand-details-pane:before {
  content: "\e906";
}
.icon-Expand-left-pane:before {
  content: "\e907";
}
.icon-pooler:before {
  content: "\e903";
}
.icon-Default-off:before {
  content: "\e900";
}
.icon-Default-on:before {
  content: "\e901";
}
.icon-active:before {
  content: "\e800";
}
.icon-add-categories:before {
  content: "\e801";
}
.icon-add-filter:before {
  content: "\e802";
}
.icon-add-template:before {
  content: "\e803";
}
.icon-adherence:before {
  content: "\e804";
}
.icon-agent:before {
  content: "\e805";
}
.icon-all-charts:before {
  content: "\e806";
}
.icon-assess:before {
  content: "\e807";
}
.icon-assign-employees:before {
  content: "\e808";
}
.icon-speech-analytics:before {
  content: "\e809";
}
.icon-bar-chart:before {
  content: "\e80a";
}
.icon-best-interaction:before {
  content: "\e80b";
}
.icon-calculate:before {
  content: "\e80c";
}
.icon-calendar:before {
  content: "\e80d";
}
.icon-case:before {
  content: "\e80e";
}
.icon-categories:before {
  content: "\e80f";
}
.icon-category:before {
  content: "\e810";
}
.icon-chat-view:before {
  content: "\e811";
}
.icon-chat-old:before {
  content: "\e812";
}
.icon-check:before {
  content: "\e813";
}
.icon-client-agent:before {
  content: "\e814";
}
.icon-client:before {
  content: "\e815";
}
.icon-close:before {
  content: "\e816";
}
.icon-coaching:before {
  content: "\e817";
}
.icon-compare-performance:before {
  content: "\e818";
}
.icon-content:before {
  content: "\e819";
}
.icon-database:before {
  content: "\e81a";
}
.icon-down:before {
  content: "\e81b";
}
.icon-ed:before {
  content: "\e81c";
}
.icon-edit-information:before {
  content: "\e81d";
}
.icon-edm:before {
  content: "\e81e";
}
.icon-employee:before {
  content: "\e81f";
}
.icon-employees-adherence-:before {
  content: "\e820";
}
.icon-employees:before {
  content: "\e821";
}
.icon-evaluate-employees:before {
  content: "\e822";
}
.icon-event:before {
  content: "\e823";
}
.icon-filter:before {
  content: "\e824";
}
.icon-fingerprint:before {
  content: "\e825";
}
.icon-folder:before {
  content: "\e826";
}
.icon-folders:before {
  content: "\e827";
}
.icon-format:before {
  content: "\e828";
}
.icon-hit-target:before {
  content: "\e829";
}
.icon-inactive:before {
  content: "\e82a";
}
.icon-information:before {
  content: "\e82b";
}
.icon-interaction-dynamics:before {
  content: "\e82c";
}
.icon-interaction:before {
  content: "\e82d";
}
.icon-key:before {
  content: "\e82e";
}
.icon-kpi-org-ru:before {
  content: "\e82f";
}
.icon-kpi-org:before {
  content: "\e830";
}
.icon-kpi-ru:before {
  content: "\e831";
}
.icon-kpi:before {
  content: "\e832";
}
.icon-kpis:before {
  content: "\e833";
}
.icon-left:before {
  content: "\e834";
}
.icon-line-chart:before {
  content: "\e835";
}
.icon-link:before {
  content: "\e836";
}
.icon-list-view:before {
  content: "\e837";
}
.icon-mail:before {
  content: "\e838";
}
.icon-mails:before {
  content: "\e839";
}
.icon-matrix:before {
  content: "\e83a";
}
.icon-metadata:before {
  content: "\e83b";
}
.icon-move-left:before {
  content: "\e83c";
}
.icon-move-right:before {
  content: "\e83d";
}
.icon-next-down:before {
  content: "\e83e";
}
.icon-next-right:before {
  content: "\e83f";
}
.icon-not-hit-target:before {
  content: "\e840";
}
.icon-note:before {
  content: "\e841";
}
.icon-note-1:before {
  content: "\e842";
}
.icon-note-2:before {
  content: "\e843";
}
.icon-note-3:before {
  content: "\e844";
}
.icon-note-public:before {
  content: "\e845";
}
.icon-objective:before {
  content: "\e846";
}
.icon-org:before {
  content: "\e847";
}
.icon-package:before {
  content: "\e848";
}
.icon-pages:before {
  content: "\e849";
}
.icon-pin:before {
  content: "\e84a";
}
.icon-plan:before {
  content: "\e84b";
}
.icon-position:before {
  content: "\e84c";
}
.icon-previous-left:before {
  content: "\e84d";
}
.icon-previous-up:before {
  content: "\e84e";
}
.icon-print:before {
  content: "\e84f";
}
.icon-process:before {
  content: "\e850";
}
.icon-properties:before {
  content: "\e851";
}
.icon-publish:before {
  content: "\e852";
}
.icon-question:before {
  content: "\e853";
}
.icon-queue:before {
  content: "\e854";
}
.icon-remove_all:before {
  content: "\e855";
}
.icon-remove:before {
  content: "\e856";
}
.icon-revert:before {
  content: "\e857";
}
.icon-right:before {
  content: "\e858";
}
.icon-save-as:before {
  content: "\e859";
}
.icon-save-category:before {
  content: "\e85a";
}
.icon-save-search:before {
  content: "\e85b";
}
.icon-save:before {
  content: "\e85c";
}
.icon-search-field:before {
  content: "\e85d";
}
.icon-search-string:before {
  content: "\e85e";
}
.icon-search:before {
  content: "\e85f";
}
.icon-settings:before {
  content: "\e860";
}
.icon-status-bad-multi:before {
  content: "\e861";
}
.icon-status-bad:before {
  content: "\e862";
}
.icon-status-fail-multi:before {
  content: "\e863";
}
.icon-status-fail:before {
  content: "\e864";
}
.icon-status-good-multi:before {
  content: "\e865";
}
.icon-status-good:before {
  content: "\e866";
}
.icon-status-medium-multi:before {
  content: "\e867";
}
.icon-status-medium:before {
  content: "\e868";
}
.icon-status-priority-high:before {
  content: "\e869";
}
.icon-status-priority-low:before {
  content: "\e86a";
}
.icon-status-priority-medium:before {
  content: "\e86b";
}
.icon-status-unknown-multi:before {
  content: "\e86c";
}
.icon-status-unknown:before {
  content: "\e86d";
}
.icon-status-very-good-multi:before {
  content: "\e86e";
}
.icon-status-very-good:before {
  content: "\e86f";
}
.icon-summary-view:before {
  content: "\e870";
}
.icon-syringe:before {
  content: "\e871";
}
.icon-template:before {
  content: "\e872";
}
.icon-test:before {
  content: "\e873";
}
.icon-topic:before {
  content: "\e874";
}
.icon-trash:before {
  content: "\e875";
}
.icon-tree-view:before {
  content: "\e876";
}
.icon-trend-down:before {
  content: "\e877";
}
.icon-trend-up:before {
  content: "\e878";
}
.icon-trend:before {
  content: "\e879";
}
.icon-twitter:before {
  content: "\e87a";
}
.icon-undo:before {
  content: "\e87b";
}
.icon-unpin:before {
  content: "\e87c";
}
.icon-unpublished:before {
  content: "\e87d";
}
.icon-up:before {
  content: "\e87e";
}
.icon-verify:before {
  content: "\e87f";
}
.icon-video-media:before {
  content: "\e880";
}
.icon-view:before {
  content: "\e881";
}
.icon-world:before {
  content: "\e882";
}
.icon-worst-interaction:before {
  content: "\e883";
}
.icon-zoom-in:before {
  content: "\e884";
}
.icon-zoom-out:before {
  content: "\e885";
}
.icon-status-export-process:before {
  content: "\e886";
}
.icon-custom-data:before {
  content: "\e887";
}
.icon-download:before {
  content: "\e888";
}
.icon-time-picker:before {
  content: "\e889";
}
.icon-refresh:before {
  content: "\e88a";
}
.icon-status-export-done:before {
  content: "\e88b";
}
.icon-status-export-fail:before {
  content: "\e88c";
}
.icon-status-export-queue:before {
  content: "\e88d";
}
.icon-collapse-left:before {
  content: "\e88e";
}
.icon-date-picker:before {
  content: "\e88f";
}
.icon-expand-right:before {
  content: "\e890";
}
.icon-message-status-help:before {
  content: "\e891";
}
.icon-message-status-info:before {
  content: "\e892";
}
.icon-message-status-warning:before {
  content: "\e893";
}
.icon-status-message-error:before {
  content: "\e894";
}
.icon-collapse-up:before {
  content: "\e895";
}
.icon-expand-down:before {
  content: "\e896";
}
.icon-maximize:before {
  content: "\e897";
}
.icon-minimize:before {
  content: "\e898";
}
.icon-sort-ascending:before {
  content: "\e899";
}
.icon-sort-descending:before {
  content: "\e89a";
}
.icon-contact:before {
  content: "\e89b";
}
.icon-restore:before {
  content: "\e89c";
}
.icon-email:before {
  content: "\e89d";
}
.icon-flag:before {
  content: "\e89e";
}
.icon-comment:before {
  content: "\e89f";
}
.icon-actions:before {
  content: "\e8a0";
}
.icon-hamburger-menu:before {
  content: "\e8a1";
}
.icon-application:before {
  content: "\e8a2";
}
.icon-cut:before {
  content: "\e8a3";
}
.icon-edit:before {
  content: "\e8a4";
}
.icon-move:before {
  content: "\e8a5";
}
.icon-copy:before {
  content: "\e8a6";
}
.icon-text-analytics:before {
  content: "\e8a7";
}
.icon-trigger:before {
  content: "\e8a8";
}
.icon-recorder-circle:before {
  content: "\e8a9";
}
.icon-process-folder_open:before {
  content: "\e8aa";
}
.icon-process_folder-close:before {
  content: "\e8ab";
}
.icon-validator:before {
  content: "\e8ac";
}
.icon-path:before {
  content: "\e8ad";
}
.icon-paste:before {
  content: "\e8ae";
}
.icon-phone:before {
  content: "\e8af";
}
.icon-recorder:before {
  content: "\e8b0";
}
.icon-speaker:before {
  content: "\e8b1";
}
.icon-alert:before {
  content: "\e8b2";
}
.icon-area-chart:before {
  content: "\e8b3";
}
.icon-data-table:before {
  content: "\e8b4";
}
.icon-email-circle:before {
  content: "\e8b5";
}
.icon-favorite-unselected:before {
  content: "\e8b7";
}
.icon-favorite:before {
  content: "\e8b8";
}
.icon-import:before {
  content: "\e8b9";
}
.icon-export:before {
  content: "\e8ba";
}
.icon-floater:before {
  content: "\e8bb";
}
.icon-lock:before {
  content: "\e8bc";
}
.icon-schedule:before {
  content: "\e8bd";
}
.icon-advanced-options:before {
  content: "\e8be";
}
.icon-campaign:before {
  content: "\e8bf";
}
.icon-mini-hamburger-menu:before {
  content: "\e8c0";
}
.icon-acrobat-file:before {
  content: "\e8c1";
}
.icon-applications:before {
  content: "\e8c2";
}
.icon-excel-file:before {
  content: "\e8c3";
}
.icon-search-app:before {
  content: "\e8c4";
}
.icon-contact-copy:before {
  content: "\e8c5";
}
.icon-phone-circle:before {
  content: "\e8c6";
}
.icon-play-circle:before {
  content: "\e8c7";
}
.icon-stop-circle:before {
  content: "\e8c8";
}
.icon-volume:before {
  content: "\e8c9";
}
.icon-and:before {
  content: "\e8ca";
}
.icon-dropdown:before {
  content: "\e8cb";
}
.icon-small_or:before {
  content: "\e8cc";
}
.icon-speaker-circle:before {
  content: "\e8cd";
}
.icon-workflow:before {
  content: "\e8ce";
}
.icon-add:before {
  content: "\e8cf";
}
.icon-collections:before {
  content: "\e8d0";
}
.icon-custom-data-1:before {
  content: "\e8d1";
}
.icon-statuses:before {
  content: "\e8d2";
}
.icon-tasks:before {
  content: "\e8d3";
}
.icon-after:before {
  content: "\e8d4";
}
.icon-team:before {
  content: "\e8d5";
}
.icon-attach:before {
  content: "\e8d6";
}
.icon-textstyle-source-edit:before {
  content: "\e8d7";
}
.icon-mandatory:before {
  content: "\e8d8";
}
.icon-checkbox-partial-selected:before {
  content: "\e8da";
}
.icon-textstyle-align-center:before {
  content: "\e8db";
}
.icon-checkbox-selected:before {
  content: "\e8dc";
}
.icon-textstyle-align-left:before {
  content: "\e8dd";
}
.icon-checkbox-unselected:before {
  content: "\e8de";
}
.icon-radiobutton-selected:before {
  content: "\e8df";
}
.icon-radiobutton-unselected:before {
  content: "\e8e0";
}
.icon-textstyle-align-right:before {
  content: "\e8e1";
}
.icon-recalculate:before {
  content: "\e8e2";
}
.icon-operations:before {
  content: "\e8e3";
}
.icon-work-activities:before {
  content: "\e8e4";
}
.icon-resolution:before {
  content: "\e8e5";
}
.icon-absence-NotUsed:before {
  content: "\e8e6";
}
.icon-assign-schedule:before {
  content: "\e8e7";
}
.icon-smaler-than-threshold:before {
  content: "\e8e8";
}
.icon-project-over-staffed:before {
  content: "\e8e9";
}
.icon-voice-over-ip:before {
  content: "\e8ea";
}
.icon-default-check:before {
  content: "\e8eb";
}
.icon-project:before {
  content: "\e8ef";
}
.icon-social:before {
  content: "\e8f0";
}
.icon-fax:before {
  content: "\e8f2";
}
.icon-callback:before {
  content: "\e8f5";
}
.icon-face-to-face:before {
  content: "\e8f6";
}
.icon-chat:before {
  content: "\e8f7";
}
.icon-calendar-month:before {
  content: "\e8fe";
}
.icon-calendar-week:before {
  content: "\e8ff";
}
.icon-no-selection:before {
  content: "\e902";
}
.icon-org-group:before {
  content: "\e90c";
}
.icon-org-node:before {
  content: "\e90d";
}
.icon-folder-type:before {
  content: "\e90e";
}
.icon-radiobutton-selector:before {
  content: "\e90f";
}
.icon-checkbox-partial-selector:before {
  content: "\e910";
}
.icon-checkbox-selector:before {
  content: "\e911";
}
.icon-folder-operations-open:before {
  content: "\e913";
}
.icon-folder-operations:before {
  content: "\e914";
}
.icon-folder-type-open:before {
  content: "\e915";
}
.icon-folder-recorder-open:before {
  content: "\e916";
}
.icon-folder-recorder:before {
  content: "\e917";
}
.icon-folder-phone-open:before {
  content: "\e918";
}
.icon-folder-phone:before {
  content: "\e919";
}
.icon-folder-speaker-open:before {
  content: "\e91a";
}
.icon-folder-speaker:before {
  content: "\e91b";
}
.icon-folder-callback-open:before {
  content: "\e91c";
}
.icon-folder-chat-open:before {
  content: "\e91d";
}
.icon-folder-chat:before {
  content: "\e91e";
}
.icon-folder-callback:before {
  content: "\e91f";
}
.icon-folder-email-open:before {
  content: "\e920";
}
.icon-folder-email:before {
  content: "\e921";
}
.icon-folder-face-to-face-open:before {
  content: "\e922";
}
.icon-outbound:before {
  content: "\e923";
}
.icon-folder-face-to-face:before {
  content: "\e924";
}
.icon-folder-outbound-open:before {
  content: "\e925";
}
.icon-folder-fax-open:before {
  content: "\e926";
}
.icon-folder-fax:before {
  content: "\e927";
}
.icon-folder-outbound:before {
  content: "\e928";
}
.icon-folder-resolution-open:before {
  content: "\e929";
}
.icon-folder-resolution:before {
  content: "\e92a";
}
.icon-folder-social-open:before {
  content: "\e92b";
}
.icon-folder-voice-over-ip-open:before {
  content: "\e92c";
}
.icon-folder-voice-over-ip:before {
  content: "\e92d";
}
.icon-folder-project:before {
  content: "\e92e";
}
.icon-folder-project-open:before {
  content: "\e92f";
}
.icon-folder-social:before {
  content: "\e930";
}
.icon-time-gap:before {
  content: "\e931";
}
.icon-go-to:before {
  content: "\e934";
}
.icon-employee-header:before {
  content: "\e939";
}
.icon-line-collapsed:before {
  content: "\e93a";
}
.icon-line-expanded:before {
  content: "\e93b";
}
.icon-menu-open:before {
  content: "\e93c";
}
.icon-request-approval-approved:before {
  content: "\e93d";
}
.icon-request-approval-denied:before {
  content: "\e93e";
}
.icon-request-approval-pending:before {
  content: "\e93f";
}
.icon-request-approval:before {
  content: "\e940";
}
.icon-textstyle-bigger:before {
  content: "\e941";
}
.icon-textstyle-bullet-list:before {
  content: "\e942";
}
.icon-textstyle-numbered-list:before {
  content: "\e943";
}
.icon-textstyle-smaller:before {
  content: "\e944";
}
.icon-textstyle-bold:before {
  content: "\e945";
}
.icon-textstyle-italic:before {
  content: "\e946";
}
.icon-textstyle-underline:before {
  content: "\e947";
}
.icon-list-to-list-move-left-with-decedents:before {
  content: "\e94c";
}
.icon-list-to-list-move-right-with-decedents:before {
  content: "\e94d";
}
.icon-make-group:before {
  content: "\e94e";
}
.icon-ungroup:before {
  content: "\e950";
}
.icon-expand-collapse-all:before {
  content: "\e952";
}
.icon-eye:before {
  content: "\e953";
}
.icon-ghosting:before {
  content: "\e954";
}
.icon-list-to-list-move-left:before {
  content: "\e955";
}
.icon-list-to-list-move-right:before {
  content: "\e956";
}
.icon-statistics-combinations:before {
  content: "\e957";
}
.icon-unselect-all:before {
  content: "\e958";
}
.icon-unlock:before {
  content: "\e959";
}
.icon-un-money:before {
  content: "\e95a";
}
.icon-un-overtime:before {
  content: "\e95b";
}
.icon-multi-trash:before {
  content: "\e95c";
}
.icon-project-staffed:before {
  content: "\e95d";
}
.icon-project-not-staffed:before {
  content: "\e95e";
}
.icon-project-under-staffed:before {
  content: "\e95f";
}
.icon-feedback:before {
  content: "\e960";
}
.icon-no-campaign:before {
  content: "\e961";
}
.icon-manage-external-domains:before {
  content: "\e962";
}
.icon-data-dictionary:before {
  content: "\e963";
}
.icon-attachment-size:before {
  content: "\e964";
}
.icon-adress-book:before {
  content: "\e965";
}
.icon-Continuous:before {
  content: "\e966";
}
.icon-image:before {
  content: "\e968";
}
.icon-image-gallery:before {
  content: "\e969";
}
.icon-duplicate:before {
  content: "\e96a";
}
.icon-phantom-list:before {
  content: "\e96b";
}
.icon-unview:before {
  content: "\e96c";
}
.icon-bulk-import:before {
  content: "\e96d";
}
.icon-summary:before {
  content: "\e96e";
}
.icon-tenant:before {
  content: "\e96f";
}
.icon-sort-asc-old:before {
  content: "\e970";
}
.icon-sort-desc-old:before {
  content: "\e971";
}
.icon-unassign:before {
  content: "\e972";
}
.icon-find:before {
  content: "\e9b9";
}
.icon-class-session:before {
  content: "\e974";
}
.icon-class-manager:before {
  content: "\e975";
}
.icon-absence:before {
  content: "\e976";
}
.icon-set-default-check:before {
  content: "\e977";
}
.icon-sentiment-very-negative:before {
  content: "\e978";
}
.icon-sentiment-negative:before {
  content: "\e979";
}
.icon-sentiment-neutral:before {
  content: "\e97a";
}
.icon-sentiment-positive:before {
  content: "\e97b";
}
.icon-sentiment-very-positive:before {
  content: "\e97c";
}
.icon-micro-lock:before {
  content: "\e97d";
}
.icon-employee-by-group:before {
  content: "\e97f";
}
.icon-employee-by-org:before {
  content: "\e980";
}
.icon-uncategorize:before {
  content: "\e981";
}
.icon-arrow-moved-all:before {
  content: "\e983";
}
.icon-arrow-moved:before {
  content: "\e984";
}
.icon-convert-all-to-phantom:before {
  content: "\e985";
}
.icon-time-off:before {
  content: "\e986";
}
.icon-multi-notice:before {
  content: "\e987";
}
.icon-out-of-shift:before {
  content: "\e988";
}
.icon-fte:before {
  content: "\ea20";
}
.icon-backlog:before {
  content: "\ea21";
}
.icon-modeling-factor:before {
  content: "\ea22";
}
.icon-reforecast:before {
  content: "\ea23";
}
.icon-shrinkage:before {
  content: "\ea24";
}
.icon-clear:before {
  content: "\ea25";
}
.icon-home-base:before {
  content: "\ea26";
}
.icon-profile-load:before {
  content: "\ea27";
}
.icon-scale:before {
  content: "\ea28";
}
.icon-set-active-forecast:before {
  content: "\ea29";
}
.icon-set-home-base:before {
  content: "\ea2a";
}
.icon-file-add-new:before {
  content: "\ea2b";
}
.icon-file-new-from:before {
  content: "\ea2c";
}
.icon-history-add-new:before {
  content: "\ea2d";
}
.icon-history-new-from:before {
  content: "\ea2e";
}
.icon-profile-add--new:before {
  content: "\ea2f";
}
.icon-profile-new-from:before {
  content: "\ea30";
}
.icon-calendar-compact-view:before {
  content: "\ea31";
}
.icon-calendar-normal-view:before {
  content: "\ea32";
}
.icon-file:before {
  content: "\ea33";
}
.icon-forecast:before {
  content: "\ea34";
}
.icon-history:before {
  content: "\ea35";
}
.icon-profile:before {
  content: "\ea36";
}
.icon-analyze:before {
  content: "\ea37";
}
.icon-columns:before {
  content: "\ea38";
}
.icon-overtime:before {
  content: "\ea39";
}
.icon-rows-secondary:before {
  content: "\ea3a";
}
.icon-rows:before {
  content: "\ea3b";
}
.icon-suggest-employee:before {
  content: "\ea3c";
}
.icon-expand-to-popup:before {
  content: "\ea3e";
}
.icon-multiple-people:before {
  content: "\ea3f";
}
.icon-recurrence:before {
  content: "\ea40";
}
.icon-folder-system-open:before {
  content: "\ea41";
}
.icon-folder-system:before {
  content: "\ea42";
}
.icon-money:before {
  content: "\ea43";
}
.icon-draggable:before {
  content: "\ea44";
}
.icon-overnight:before {
  content: "\ea45";
}
.icon-locked-employee:before {
  content: "\eafb";
}
.icon-configure-profile:before {
  content: "\eb00";
}
